page-sign {
  .wide{
    background-color: lightpink;
  }

  .course{
    margin-left: 24%;
    font-family: '仿宋';
    font-size: larger;
    margin-top: 40px;
    font-weight: bold;
  }

  .site{
    width: 90%;
    margin-left: 5%;
    margin-top: 60px;
  }

  .btn{
    margin-top: 30px;
  }
}
