page-home {
  .courses{
    margin-top: 30px;
    font-family: '楷体';
  }

  .btn1{
    width:80%;
    margin-top: 10px;
    margin-left: 10%;
  }

  .aa{
    margin-left: 10%;
    margin-top: 20px;
    font-family: '楷体';
  }
}
