page-person {
  .cl{
    background-color:lavender;
  }
  .bu{
    width:320px;
    height:40px;
    margin-left: 27px;
    margin-top: 20px;
    //text-align:center;
    background-color:honeydew;
    border-radius: 7px;
    border:1px solid silver;
  }
  .bu3{
    width:320px;
    height:100px;
    margin-left: 27px;
    margin-top: 20px;
    //text-align:center;
    background-color:honeydew;
    border-radius: 7px;
    border:1px solid silver;
  }
  .bu2{
    width:280px;
    height:50px;
    margin-left: 47px;
    margin-top: 20px;
    //text-align:center;
    background-color:azure;
    border-radius: 7px;
    border:1px solid silver;
  }
  .size{
    margin-top: 10px;
    margin-left: 13px;
    margin-right: 13px;
    border-radius: 7px;
    border:1px solid silver;
  }
}
