page-function-choose {
  .cl{
    background-color:lavender;
  }
  .bu{
    width:330px;
    height:60px;
    margin-left: 10px;
    margin-top: 50px;
    //text-align:center;
    background-color:azure;
    border-radius: 7px;
    border:1px solid silver;
  }

  .bu2{
    width:330px;
    height:60px;
    margin-left: 10px;
    margin-top: 4px;
    //text-align:center;
    background-color:azure;
    border-radius: 7px;
    border:1px solid silver;
  }
}
