<ion-header>
  <ion-navbar color="primary">
    <button ion-button  menuToggle icon-only><ion-icon name="menu"></ion-icon></button>
    <ion-title>首页-我的课程</ion-title>
    <ion-buttons end>
      <button ion-button icon-only><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="cl">

  <div style="margin-top: 30px;text-align: center;font-size: 18px;"><span style="font-weight: bold;">{{stuInf}}{{pname}}</span>，您好！欢迎使用教师端！</div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let course of courseList">
        <button ion-button class="bu" (click)="courseSelected(course)">{{course}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="text-align: center;margin-top: 20px;">请选择课程进行功能操作</div>

  <!--<ion-grid>-->
    <!--<ion-row>-->
      <!--<ion-col  *ngFor="let course of courseList">-->
        <!--<button style="font-size: 18px;font-weight: bold;" ion-item (click)="courseSelected(course)">-->
          <!--{{ course }}-->
        <!--</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->

    <!--<ion-row>-->
      <!--<ion-col *ngFor="let a of this.A">-->
        <!--<ion-card  style=""><pre>{{a}}</pre></ion-card>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->
</ion-content>
