page-home {
  .cl{
    background-color:lavender;
  }
  .bu{
    width:280px;
    height:60px;
    margin-left: 47px;
    margin-top: 30px;
    //text-align:center;
    background-color:azure;
    border-radius: 7px;
    border:1px solid silver;
  }

  .bu2{
    width:280px;
    height:80px;
    margin-left: 47px;
    margin-top: 25px;
    //text-align:center;
    background-color:azure;
    border-radius: 7px;
    border:1px solid silver;
  }
}
