<div class="box" style="margin-top: 20px;">
  <div class="box-header with-border">
    <a class="btn btn-success btn-sm" [routerLink]="['../user-creat']"><i class="fa fa-plus"></i>&nbsp;&nbsp;创建</a>

    <div style="margin-top: 6px;" class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input [formControl]="nameFilter" type="text" name="table_search" class="form-control pull-right" placeholder="Search">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body">
    <table class="table table-bordered">
      <tr >
        <th style="width: 2%;">id</th>
        <th style="width: 40%;">名称</th>
        <th style="width: 40%;">取值</th>
        <th style="text-align: center;width: 18%">操作</th>
      </tr>
      <tr *ngFor="let p of signs | userFilter:'Pname':keyword;let i = index;"  >
        <td *ngIf=" i>=pageSize-pageData && i< pageSize">{{ i + 1 }}</td>
        <td *ngIf=" i>=pageSize-pageData && i< pageSize">{{p.dname}}</td>
        <td *ngIf=" i>=pageSize-pageData && i< pageSize">{{p.callstate}}</td>
        <td *ngIf=" i>=pageSize-pageData && i< pageSize">
          <a class="btn btn-warning btn-xs"><i class="fa fa-edit"></i>&nbsp;修改</a>
          <a class="btn btn-danger btn-xs" ><i class="fa fa-close"></i>&nbsp;删除</a>
        </td>
      </tr>
    </table>
  </div>
  <app-page [pageParams]="{pageSize:pageSize,totalNum:totalNum,curPage:pageSize/pageData,totalPage:totalPage,pageData:pageData}"
            (changeCurPage)="getPageData($event)"></app-page>

</div>
