page-login {
  .aaa{
    background-color: pink;
  }
  .no-border {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }

  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  span {
    color: white;
  }
}
