<!--&lt;!&ndash; Main Header &ndash;&gt;-->
<!--<app-hearder></app-hearder>-->
<!--&lt;!&ndash; Left side column. contains the logo and sidebar &ndash;&gt;-->
<!--<app-menu></app-menu>-->
<!--&lt;!&ndash; Content Wrapper. Contains page content &ndash;&gt;-->
<!--<app-content></app-content>-->
<!--&lt;!&ndash; /.content-wrapper &ndash;&gt;-->
<!--&lt;!&ndash; Main Footer &ndash;&gt;-->
<!--<app-footer></app-footer>-->
<!--&lt;!&ndash; Control Sidebar &ndash;&gt;-->
<!--<app-sidebar></app-sidebar>-->

<router-outlet></router-outlet>




